html
    {
        margin: 0;
    }
body    
    {
        margin: 0;
        height: 100%;
    }
main
    {
        height: 100%;
    }
/* DEBUT STYLE GENERIQUE */
.bouton
    {
        background-color: #D0A85C;
        border-color: #5CD089;
        width: 10vw;                
    }
.bouton:hover   
    {
        background-color: #AC8B4E;
        border-color: #449D66;
        color: white;        
    }
input
    {
        text-align: center;        
    }
.valid_form
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
.formulaire
    {
        margin-top: 5vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
    }
/* FIN STYLE GENERIQUE */
/* DEBUT INSCRIPTION */
#main_inscription
    {
        display: flex;
        flex-direction: column;       
        align-items: center;
    }
#main_inscription form
    {
        display: flex;
        flex-direction: column;        
        width: 80vw;        
    }
.oblig
    {
        color: red;
    }
/* FIN INSCRIPTION */
/* DEBUT CONNEXION */
#main_connexion
    {
        display: flex;
        flex-direction: column;       
        align-items: center;        
    }
#main_connexion form
    {
        display: flex;
        flex-direction: column;        
        width: 20vw;
        text-align: center;
        margin-top: 5vh;
    }
/* FIN CONNEXION */
/* DEBUT PROFIL */
#main_profil
    {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
#formulaire_profil
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10vh;
    }
#main_profil form
    {
        display: flex;
        flex-direction: column;
        width: 60vw;
    }
#main_profil input:focus
    {
        background-color: #5cd0885d;
    }
.input_oblig
    {
        background-color: #d0a75c5d;
    }
/* FIN PROFIL */