html
    {
        margin: 0;
    }
body    
    {
        margin: 0;
        height: 100%;
    }
main
    {
        min-height: 100vh;
    }
/* DEBUT STYLE GENERIQUE */
.bouton
    {
        background-color: #D0A85C;
        border-color: #5CD089;
        width: 15vw;                
    }
.bouton:hover   
    {
        background-color: #AC8B4E;
        border-color: #449D66;
        color: white;        
    }
input
    {
        text-align: center;        
    }
h2  
    {
        margin-top: 5vh;
    }*
h5
    {
        margin-bottom: 5vh;
    }
.alert
    {
        text-align: center !important;
    }
.active
    {
        font-weight: bold;
    }
.valid_form
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
.formulaire
    {
        margin-top: 5vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
    }
.suivant
    {
        display: flex;
        justify-content: space-between;
        width: 60vw;
    }
.next 
    {
        /* meme class mais avec des formulaire */
        display: flex;      
        justify-content: space-around;          
        width: 100%;
    }
/* FIN STYLE GENERIQUE */
/* DEBUT INSCRIPTION */
#main_inscription
    {
        display: flex;
        flex-direction: column;       
        align-items: center;
    }
#main_inscription form
    {
        display: flex;
        flex-direction: column;        
        width: 80vw;        
    }
.oblig
    {
        color: red;
    }
/* FIN INSCRIPTION */
/* DEBUT CONNEXION */
#main_connexion
    {
        display: flex;
        flex-direction: column;       
        align-items: center;        
    }
#main_connexion form
    {
        display: flex;
        flex-direction: column;        
        width: 20vw;
        text-align: center;
        margin-top: 5vh;
    }
/* FIN CONNEXION */
/* DEBUT PROFIL */
#main_profil
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: auto;
    }
#formulaire_profil
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10vh;
    }
#main_profil form
    {
        display: flex;
        flex-direction: column;
        width: 60vw;
    }
#main_profil input:focus
    {
        background-color: #5cd0885d;
    }
.input_oblig
    {
        background-color: #d0a75c5d;
    }
    /* Historique */
#historique
    {
        display: flex;
        flex-direction: column;
    }
#tableau_historique
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
.histo
    {        
        margin-top: 5vh;
        width: 60vw;
    }
#affiche_pagi 
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60vw;
    }
/* FIN PROFIL */
/* DEBUT PANIER */
#main_panier
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
    }
#table_panier
    {
        width: 80vw;
        margin-top: 10vh;
        margin-bottom: 5vh;
    }
.img_panier
    {
        max-height: 15vh;
    }
/* FIN PANIER */
/* DEBUT VEIRIFCATION */
#main_verification
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
    }
.table_verification
    {
        margin-top: 10vh;
        margin-bottom: 10vh;
        width: 80vw;
    }
.nav_etape
    {
        width: 100%;
    }
.etape
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100% !important;        
    }
.etape p
    {
        margin: 0;
    }
/* FIN VERIFICATION */
/* DEBUT COMPTE */
#main_compte
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
#main_compte p  
    {
        margin: 0 !important;
    }
#adresse_L
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
.form_adresse
    {
        width: 100%;
        margin-bottom: 5vh;
    }
/* FIN COMPTE */
/* DEBUT PAIEMENT */
#main_paiement
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
#form_paiement
    {
        display: flex;
        flex-direction: column;        
        text-align: center;
        width: 40vw;
        margin-top: 5vh;
    }
.modif_p
    {
        margin-top: 5vh;
    }
.modif_p a  
    {
        color: black;
        text-decoration: none;
    }
.modif_p a:hover
    {
        color: white;
    }
/* FIN PAIEMENT */
/* DEBUT INDEX */
#encart
    {    
        width: auto;
        height: 90vh;
    }
#titre
    {    
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-image: url('../../images/eco.jpg');
        background-size: cover;
        background-position: bottom;
    }
.produit_index
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
.card_index
    {
        max-height: 70vh;
    }
#encart2
    {
        width: auto;
        height: 90vh;
        background-image: url('../../images/recy.jpg');
        background-size: cover;
        background-position: top;
    }
/* FIN INDEX */